@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100&display=swap');

:root{
    --main-font:'Roboto', sans-serif;
    --main-color: rgb(48, 48, 48);
}

html{
    font-size: 6.25%;
}

body{
    background-color: rgb(0, 91, 228);
    /* background-image: url(img/me.jpeg); */
}

div.main{
    display: flex;
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* outline: 3px solid yellow; */
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

div.st-info{
    /* outline: 3px solid red; */
    /* background-color: aliceblue; */
    /* height: 20px; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
}

div.add-data{
    /* outline: 3px solid rgb(0, 255, 0); */
    /* height: 20px; */
    width: 50%;
    /* margin: auto; */
}

img.profile-pic{
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--main-color);
    
}
h1.st-name{
    font-family: var(--main-font);
    font-size: 40rem;
    color: var(--main-color);
    font-weight: 900;
    text-shadow: 0px 2px 5px rgba(1, 1, 1, 0.5);
    margin-top: 10px;
}
h1.role{
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 25rem;
    margin-top: -25px;
}
h1.time{
    font-family: var(--main-font);
    margin-top: -10px;
    color: rgb(21, 180, 0);
    font-size: 25rem;
}
